DATABASE_URL=
ZOHO_USER=sales@australianpropmoney.com.au
ZOHO_PASSWORD=
ZOHO_HOST=smtp.zoho.com
ZOHO_PORT=465
EMAIL_FROM=sales@australianpropmoney.com.au
EMAIL_ADMIN=sales@australianpropmoney.com.au
NEXT_PUBLIC_WHATSAPP_NUMBER=
